header
  border-bottom: solid 3px #00BF00;
  padding: 10px;
  font-size: 22px;
  color: white;
}

body{
  background-color: #FFEEEE;
}
h1{
  color: #FF0000;
}
p{
  font-size: 16 px;
  color: #FF0000;
}


